# Python
*.py[cod]
__pycache__/
env/
venv/
*.env

# Django
*.log
*.pot
*.pyc

# VSCode or IDE
.vscode/
.idea/

# Docker
*.env

# Database
/resources/
/resources/finance-tracker-firebase_key.json
/resources/.env

.cursor/